<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bank.dao.user.UserDAO" >
  <resultMap id="BaseResultMap" type="com.bank.model.user.UserModel" >
    <id column="user_id" property="user_id" jdbcType="INTEGER" />
    <result column="user_name" property="user_name" jdbcType="VARCHAR" />
    <result column="user_pass" property="user_pass" jdbcType="VARCHAR" />
    <result column="user_paypass" property="user_paypass" jdbcType="VARCHAR" />
    <result column="user_city" property="user_city" jdbcType="VARCHAR" />
    <result column="user_obligate_info" property="user_obligate_info" jdbcType="VARCHAR" />
    <result column="user_face" property="user_face" jdbcType="VARCHAR" />
    <result column="user_idcard" property="user_idcard" jdbcType="VARCHAR" />
    <result column="user_phone" property="user_phone" jdbcType="VARCHAR" />
    <result column="user_email" property="user_email" jdbcType="VARCHAR" />
    <result column="user_last_login_time" property="user_last_login_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    <result column="user_regist_time" property="user_regist_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    <result column="user_account_money" property="user_account_money" jdbcType="VARCHAR" />
    <result column="user_account_balance" property="user_account_balance" jdbcType="VARCHAR" />
  </resultMap>
  <!-- 注册-->
  <insert id="insert" parameterType="com.bank.model.user.UserModel">
  	INSERT INTO user_userinfo VALUES(null,#{user_name},#{user_pass},null,#{user_city},
  	#{user_obligate_info},null,#{user_idcard},#{user_phone},#{user_email},0,#{user_last_login_time},#{user_regist_time},#{user_account_money},#{user_account_balance});
  </insert>
  <!-- 更新用户状态 -->
  <update id="updateUserStateByIdcard">
  	UPDATE user_userinfo SET user_state = #{0} WHERE user_idcard = #{1};
  </update>
  <!-- 更新用户信息 -->
  <update id="updateById" parameterType="com.bank.model.user.UserModel">
  	UPDATE user_userinfo SET user_name=#{user_name},user_pass=#{user_pass},user_paypass=#{user_paypass},
	user_city=#{user_city},user_obligate_info=#{user_obligate_info},user_face=#{user_face},
	user_idcard=#{user_idcard},user_phone=#{user_phone},user_email=#{user_email},user_state=#{user_state},
	user_last_login_time=#{user_last_login_time},user_regist_time=#{user_regist_time} 
	WHERE user_id=#{user_id};
  </update>
  <!-- 根据账号查询用户 -->
  <select id="selectUserByAccount" parameterType="String" resultType="com.bank.model.user.UserModel">
  	SELECT * FROM user_userinfo WHERE user_idcard = #{account} OR user_phone = #{account} OR user_email = #{account};
  </select>
  <!-- 根据账号删除用户 -->
  <delete id="deleteUserByIdcard" parameterType="String">
  	DELETE FROM user_userinfo WHERE user_idcard = #{account} OR user_phone = #{account} OR user_email = #{account};
  </delete>
  <!-- 更新用户余额 -->
  <update id="updateUserMoneyById">
  	UPDATE user_userinfo SET user_account_money = #{0} WHERE user_id = #{1};
  </update>
  <!-- 更新用户余额宝余额 -->
  <update id="updateUserBalanceById">
  	UPDATE user_userinfo SET user_account_balance = #{0} WHERE user_id = #{1};
  </update>
  <!-- 查询用户余额 -->
  <select id="selectUserMoneyById" resultType="java.lang.Double">
 	SELECT user_account_money FROM user_userinfo WHERE user_id=#{id};
  </select>
    <!-- 查询用户余额 -->
  <select id="selectUserBalanceById" resultType="java.lang.Double">
 	SELECT user_account_balance FROM user_userinfo WHERE user_id=#{id};
  </select>
  <!-- 根据用户查询最近有过交易的人 -->
  <select id="selectRecentlyTradeUser" resultType="com.bank.model.user.UserModel">
   SELECT uu.* FROM 
   user_userinfo uu,user_trade ut 
   WHERE uu.`user_id`=ut.`trade_user_id` 
   AND user_id IN(SELECT trade_other_user_id FROM user_trade WHERE trade_user_id = #{id} GROUP BY trade_other_user_id) 
   GROUP BY user_id ORDER BY ut.`trade_time` DESC 
  </select>

</mapper>