<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bank.dao.card.CardCheckDAO" >
  <resultMap id="BaseResultMap" type="com.bank.model.card.CardCheckModel" >
    <id column="card_check_id" property="cardCheckId" jdbcType="INTEGER" />
    <result column="card_check_user" property="cardCheckUser" jdbcType="INTEGER" />
    <result column="card_check_cardtype" property="cardCheckCardtype" jdbcType="INTEGER" />
    <result column="card_check_opencard_id" property="cardCheckOpencardId" jdbcType="INTEGER" />
    <result column="card_check_time" property="card_check_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
  </resultMap>
  
   <resultMap id="CheckUserAndCardMap" type="com.bank.model.card.CheckUserAndCardModel" >
   	<result column="card_name" property="card_name" jdbcType="VARCHAR" />
    <result column="card_face" property="card_face"  jdbcType="VARCHAR"/>
    <result column="user_name" property="user_name" jdbcType="VARCHAR" />
    <result column="user_city" property="user_city" jdbcType="VARCHAR" />
    <result column="user_face" property="user_face" jdbcType="VARCHAR" />
    <result column="user_regist_time" property="user_regist_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    <result column="user_idcard" property="user_idcard" jdbcType="VARCHAR" />
    <result column="state_name" property="user_state" jdbcType="VARCHAR" />
    <result column="card_check_time" property="card_check_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    <result column="user_id" property="user_id" jdbcType="INTEGER" />
    <result column="card_check_opencard_id" property="cardCheckOpencardId" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    card_check_id, card_check_user, card_check_cardtype,card_check_opencard_id
  </sql>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from card_check
    where card_check_id = #{cardCheckId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from card_check
    where card_check_id = #{cardCheckId,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from card_check
    where card_check_id = #{cardCheckId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bank.model.card.CardCheckModel" >
    INSERT INTO card_check VALUES (NULL, #{cardCheckUser}, #{cardCheckCardtype},#{cardCheckOpencardId},NOW())
  </insert>
  <update id="updateById" parameterType="com.bank.model.card.CardCheckModel" >
    update card_check
    set card_check_user = #{cardCheckUser,jdbcType=INTEGER},
      card_check_cardtype = #{cardCheckCardtype,jdbcType=INTEGER}
    where card_check_id = #{cardCheckId,jdbcType=INTEGER}
  </update>
  <!-- 查询所有待审核的用户 -->
  <select id="selectCheckUserAndCardAll" resultMap="CheckUserAndCardMap" parameterType="com.bank.model.other.Page">
  	SELECT uu.`user_id`,card_check_opencard_id,user_name,user_city,user_face,user_idcard,user_state,user_regist_time,card_name,card_face,state_name,card_check_time
	FROM user_userinfo uu,bank_card bk,card_check cc,user_card_state ucs
	WHERE cc.`card_check_cardtype`=bk.`card_id` AND cc.`card_check_user`=uu.`user_id` AND ucs.`state_id`=uu.`user_state`
	ORDER BY card_check_time DESC ;
  </select>
  <!-- 查询数量 -->
  <select id="selectCheckUserAndCardNum" resultType="java.lang.Integer">
  	SELECT COUNT(*) FROM card_check;
  </select>
</mapper>