ul{
	margin:0 auto;
	padding:0;
	display:table;
	list-style-type:none;
}

li{
	width: 250px;
	height:150px;
	float:left;
	color:#191919;
	text-align:center;
	overflow:hidden;
}

a{
	color:#FFF;
	text-decoration:none;
}

.daohang{
	padding-top: 50px;
	color: white;
	cursor:pointer;
}

.subtext{
	padding-top:55px;
}

/*Menu Color Classes*/
.blackpurple{background: #3f314d top left no-repeat;}
.blackpurple:hover{background: #3f314d top left no-repeat;}
