.noborderradius{
	border-radius: 0px 0px 0px 0px;
}
.yuanjiao15{
	border-radius: 15px 15px 15px 15px;
}
.list-group-item{
	border:0;
	background-color: #3f314d;
	cursor:pointer;
}
.hand{
	cursor:pointer;
}
.colgb{
	color: #bbbbbb;
}
.nosingline{
	display: inline;
}
.top20{
	margin-top: 20px
}
.top10{
	margin-top: 10px
}
.top5{
	margin-top: 5px
}
.btncolor {
	background-color: #3f316d;
	border-color: #3f316d;
	color: white;
}
.touming6{
	border-radius: 10px 10px 10px 10px;
	background-color:rgba(255,255,255,0.6);
}

.overstep{
	text-overflow:ellipsis; 
	white-space:nowrap;
	overflow:hidden;
}

.bordera{border-right: 1px solid #aaaaaa;border-bottom: 1px solid #aaaaaa;} 
.borderb{border-bottom: 1px solid #aaaaaa;} 
.borderc{border-right: 1px solid #aaaaaa;} 

a.list-group-item:hover{
	background-color: #3f313d;
}
a{color: #3f316d}
a:link {color: #3f316d;text-decoration: none;}		/* 未访问的链接 */
a:visited {color: #3f316d;text-decoration: none;}	/* 已访问的链接 */
a:hover {color: #4C9ED9;text-decoration: none;}		/* 鼠标移动到链接上 */
a:active {color: #4C9ED9;text-decoration: none;}    /* 选定的链接 */

/*左侧导航*/
#setlist .list-group-item{
	border:0;
	background-color: rgba(255,255,255,0.3);
	cursor:pointer;
}
#setlist .list-group-item:hover{
	border:0;
	background-color: rgba(255,255,255,0.9);
	cursor:pointer;
}
.iconactive{
font-size: 20px;
color: white;
}
.iconnoactive{
font-size: 19px;
color: #3f316d
}
.titlenoview{
font-weight: bold;
color: black;
}
.titleisview{
color: #777777;
}
.gray9{
	color: #999999
}
.gray8{
	color: #888888
}
.gray7{
	color: #777777
}
.gray6{
	color: #666666
}